@model RegisterProduct.Models.Produit 
@{
    ViewBag.Title = "SubmitRegisterProoduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SubmitRegisterProoduct</h2>
<p>Vous avez enregistré succivement:@Model.name , @Model.quantite</p>

